table,
th,
tr,
td {
  border: 1px solid black;
}
td {
  background-color: rgb(176, 176, 176);
  color: #000;
  text-align: center;
  border: 1px solid black;
}

tr,
td {
  padding: 10px;
}
.droplist {
  /* width: 100px;
  height: 100px; */
  padding-top: 5.5%;
  position: absolute;
  right: 5%;
}

.box {
  width: 80px;
  height: 80px;
}

/* iPad */
@media (min-width: 770px) and (max-width: 1200px) and (min-height: 770px) and (max-height: 1000px) {
  .information_box {
    width: 40%;
    position: absolute;
    top: 10vh;
    left: 35%;
  }
}

/* WideScreen */
@media (min-width: 1201px) or (min-height: 1001px) {
  .information_box {
    width: 35%;
    position: absolute;
    top: 10vh;
    left: 37.5%;
  }
}
