.login {
  width: 1000px;
  height: 800px;
  padding: 0 2.5% 0 2.5%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_label {
  font-size: 64px;
  margin-bottom: 3rem;
}
