.actions {
  border-radius: 10px;
  font-size: 18px;
  border: 0;
  color: white;
  height: 56px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions button:disabled,
.actions button:disabled:hover {
  background-color: gray;
}

.actions button:hover {
  background-color: green;
}
